<a href="https://colab.research.google.com/gist/bdc-KrishnaS/1902bf80972e1a44dcf2d254b94c118b/assignment-1-module-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1: Introduction to Python Programming
**Objective:**
By the end of this exercise, you will have a basic understanding of Python syntax, data types, variables, control structures, and how to work with lists and dictionaries.

### Task 1: Writing Basic Syntaxes and Language Constructs
**Instructions:**
- Write a Python program that prints "Welcome to Data Analytics with Python" to the console.
- Add a comment in your code explaining what the print statement does.
- Define a variable `course_name` with the value "Data Analytics with Python" and print it.

### Task 2: Understanding Python Data Types, Variables, and Operators
**Instructions:**
- Create variables `a`, `b`, and `c` with values `10`, `15.5`, and `True` respectively.
- Print the data type of each variable using the `type()` function.
- Perform the following operations and print the results:
  - `a + b`
  - `a * c`
  - `b / a`

### Task 3: Using Control Structures and Loops
**Instructions:**
- Write a program that checks if the variable `a` (from Task 2) is greater than `10`. If it is, print "a is greater than 10". Otherwise, print "a is not greater than 10".
- Create a list `numbers = [1, 2, 3, 4, 5]`.
- Write a `for` loop that prints each number in the list.
- Write a `while` loop that prints the numbers from 5 to 1.

### Task 4: Working with Lists, Tuples, Sets, and Dictionaries
**Instructions:**
- Create a list `services = ["Voice", "Data", "SMS"]`. Add "MMS" to the list. Print the updated list.
- Convert the list to a tuple and print it.
- Create a set `employees = {"John", "Jane", "Doe"}`. Add "Smith" to the set. Print the updated set.
- Create a dictionary `employee_info = {"John": "Manager", "Jane": "Engineer", "Doe": "Analyst"}`. Add another entry for "Smith" as "Technician". Print the dictionary.

### Task 5: Examples of Working with Strings
**Instructions:**
- Create a string `welcome_message = "Welcome to Data Analytics with Python"`.
- Print the length of the string.
- Convert the string to uppercase and print it.
- Extract and print the substring "Data Analytics".

### Task 6: Reading and Writing Data Files in Python
**Instructions:**
- Write the string `welcome_message` to a file named `welcome.txt`.
- Read the content of the file and print it.

### Task 7: Creating and Using Functions
**Instructions:**
- Create a function `calculate_sum(a, b)` that returns the sum of two numbers.
- Call the function with the values `a = 10` and `b = 5` and print the result.